<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome Email</title>
</head>

<body style="background-color: rgb(222, 213, 213); font-family: Arial, sans-serif;">
    <div style="padding-top: 70px; padding-left: 25%;">
        <i class="fa fa-envelope" style="color: white; font-size: 50px; height: 75px; width: 75px; background-color: #0752f4; border-radius: 50%; text-align: center; margin: 10px; line-height: 75px;"></i>

        <h1>Thank You for Contacting Us</h1>
        <p>Dear {{name}},</p>
        <p>Thank you for reaching out. We have received your message and will get back to you soon.</p>
        <a href="https://www.youtube.com" style="background-color: white; color: black; border: 2px solid rgb(19, 157, 19); padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block;">Return to website</a>
    </div>

    <style>
        a:hover, a:active {
            background-color: rgb(19, 157, 19);
            color: white;
        }
    </style>
</body>

</html>
